body {
	text-align: center;
	background-image: url("../images/w1d3review/background.png");
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 8pt;
}
.banner {
	background-image: url("../images/w1d3review/bannerbg.png");
    position: absolute;
	left: 0;
    top: 0px;
    width: 100%;
}
h1 {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: 3px 3px #999999;
}
.overall_content_area {
	width: 800px;
    margin: auto;
	border: 4px gray solid;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.column { float: left; }
#content_left { 
	width: 550px;
}
#content_right { 
	width: 250px;
	background-color: #A2B964;
	text-align: left;
	font-size: 8pt;
	font-family: Arial, sans-serif;
}
dt {
	font-weight: bold;
	margin-top: 10pt;
}
ul { 
  list-style-type: none;
}
#content_right>dl {
	margin: 10px;
}
.content_header {
	display: flex;
	align-items: center;
	background-image: url("../images/w1d3review/rbg.png");
	text-align: left;	
}
.content_header>span {
	font-size: 48pt;
	font-weight: bold;
	color: red;
}
.content_footer {
	clear: both;
	background-color: #A2B964;
}
.content_footer>p {
	margin: 0;
	padding: 5px;
}
#review_columns {
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	grid-column-gap: 2%;
  	column-gap: 2%;
  	column-width: 47vw;
	margin-left: 5px;
    margin-right: 5px;
}
.review_cols {
    /* width: 47%;  */
}
.column_review { 
	float: left;
    text-align: left;
    margin-bottom: 20pt;
}
.review_box>p {
	padding-left: 10px;
}
.review_box {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 5px;
}
.quote_box {
	font-style: italic;
}
.box { 
   float: left;
}
.review_box .box {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: -1px;
}
.quote_box .box {
	margin-right: 5px;
}
#validator {
	position: fixed;
	right: 0;
	bottom: 0;
	opacity: 0.5;
}
/* #review_columns {
	column-count: 2;
  	column-gap: 2%;
  	column-rule: none;
  	column-width: 40vw;
  	column-fill: 100%;
  	columns: 47%vw;
	column-width: 37vw;
} */