body {
	text-align: center;
	background-image: url("../images/w1d3review/background.png");
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 8pt;
}
.banner {
	background-image: url("../images/w1d3review/bannerbg.png");
}
h1 {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: 3px 3px #999999;
}
.overall_content_area {
	width: 800px;
    margin: auto;
	border: 4px gray solid;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.column { float: left; }
#content_left { 
	width: 550px;
}
#content_right { 
	width: 250px;
	background-color: #A2B964;
	text-align: left;
	font-size: 8pt;
	font-family: Arial, sans-serif;
}
dt {
	font-weight: bold;
	margin-top: 10pt;
}
ul { 
  list-style-type: none;
}
#content_right>dl {
	margin: 10px;
}
.content_header {
	display: flex;
	align-items: center;
	background-image: url("../images/w1d3review/rbg.png");
	text-align: left;	
}
.content_header>span {
	font-size: 48pt;
	font-weight: bold;
	color: red;
}
.content_footer {
	/* width: 100%; */
	/* border: 2px solid red; */
}
#review_columns {
    width: 100%
}
.column_review { 
	float: left;
    width: 47%;
    text-align: left;
}
.review_box {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px solid grey;
    border-radius: 10px;
}
.quote_box {
	font-style: italic;
}
.box { 
   float: left;
}
.review_box .box {
	margin: 10px;
}
.quote_box .box {
	margin-right: 5px;
}
review_box>p {
	margin-top: 31px;
}
/* #review_columns {
	column-count: 2;
  	column-gap: 2%;
  	column-rule: none;
  	column-width: 40vw;
  	column-fill: 100%;
  	columns: 47%vw;
	column-width: 37vw;
} */