body {
	color: #404040;
	font-family: Georgia, Garamond, serif;
	font-size: 11pt;
}
.heading {
	color: #A4A400;
	background-color: #F0F0F0;
	text-decoration: underline;
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
h1 {
	text-align: center;
	font-size: 22pt;
}
h2 {
	font-size: 18pt;
}
a {
	color: #A4A400;
}
pre {
    white-space: pre-line;
    float: left;
    text-align: right;
}
footer {
    clear: both;
}
