body {
	display: grid;
  	/* grid-template-columns: auto auto auto; */
  	/* grid-gap: 10px; */
}
.header {
	grid-column: 1 / 4;
	background-color: #97d3f2;
	height: 5em;
	text-align: center;
	justify-content: center;
}
.menus {
	grid-column: 1 / span 3;
	background-color: #324539;
	display: flex;
	flex-wrap: wrap;
	min-height: 3em;
}
.menu {
	color: white;
	border-right: 1px solid black;
  	padding: 0 20px 30px 20px;
  	text-decoration: none;
  	text-align: center;
}
.menus a:hover {
  background-color: #ddd;
  color: black;
}
.columns {
	grid-column: 1/4;
	display: flex;
	flex-wrap: wrap;
	min-height: 15em;
}
.column {
  /* flex: 33%; */
  /* max-width: 33%; */
  /* padding: 0 4px; */
}
.footer {
	grid-column: 1 / span 3;
	background-color: #324539;
	height: 5em;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
}
#col_one { 
	flex: 30%;
	background-color: grey;
}
#col_two {
	flex: 39%;
	background-color: silver;
}
#col_tree { 
	flex: 30%;
	background-color: #D3D3D3;
}