body { background-color: #EEEEEE; }

.container { text-align: center; }

.block_left, .block_right { display: inline; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

p::first-letter {
	font-size: 1.5em;
  	color: #2B2B2B;
}

dt { color: rgb(255, 191, 0) }

h2 { color: hsl(225, 100%, 50%) }

li a { color: #ff4000 }