body { background-color: #EEEEEE; }

.container { text-align: center; }

.block_left, .block_right { display: inline; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

p::first-letter {
	color: #A52A2A;
    float: left;
    font-size: 5em;
    margin: 0 .1em 0 0;
    line-height: 0.85;
}