body { background-color: #EEEEEE; }

.container { text-align: center; }

.block_left, .block_right { display: inline; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

p::first-letter {
	initial-letter: 2;
}